body {
    margin: 0;
    background: #121212;
    color: #e0e0e0;
    font-family: Consolas, monospace;
}

#container {
    width: 1000px;
    height: 700px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

#log {
    flex: 1;
    background: #1e1e1e;
    padding: 10px;
    overflow: hidden;
}

#output {
    background: #0d0d0d;
    padding: 12px;
    height: 100%;
    overflow-y: auto;
    white-space: pre-wrap;
}

button {
    margin: 15px auto;
    background: #d32f2f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 14px 30px;
    cursor: pointer;
}
button:hover {
    background: #b71c1c;
}
